<div class="container">
{{#each vehicleData as |car|}}
    <div id="card">
        <h2>Available Cars - {{id}}</h2>
        {{#if (have_cars length)}}
            <ul>
                <li>{{brand}} {{model}} - {{year}}</li>
            </ul>
        {{else}}
            <p class="text-danger">No cars available at the moment.</p>
        {{/if}}
    </div>
{{/each}}
</div>