<div class="container">
  <h3>{{reservationData.1.user.name}}'s Reservations</h3>
  
    <br />

  {{#each reservationData as |reservation|}}
      <h5>Reservation from: {{ format_date check_out }} to {{ format_date check_in }}</h5>
      <span><strong>Vehicle</strong>: {{ vehicle.brand }} {{ vehicle.model }}</span>
      <br />
      <span><strong>Location</strong>: {{ location.name }} | {{ location.address }}</span>
      <br />
      <br />
      <a href="/reservation/{{id}}">Delete Record?</a>
  <hr />
  {{/each}}
</div>