<div class="container">
  {{#each vehicleData as |car|}}
  <p>
    {{brand}}<br />
    {{model}}<br />
    {{year}}
    {{location_id}}
    <br />
    <img src="./assets/img/{{model}}/{{model}}.png">
  {{/each}}
  </p>
</div>